@font-face {
  font-family: 'A-DAY-WITHOUT-SUN';
  src: url("../assets/fonts/A-DAY-WITHOUT-SUN.ttf.woff") format("woff"), url("../assets/fonts/A-DAY-WITHOUT-SUN.ttf.svg#A-DAY-WITHOUT-SUN") format("svg"), url("../assets/fonts/A-DAY-WITHOUT-SUN.ttf.eot"), url("../assets/fonts/A-DAY-WITHOUT-SUN.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #2B2B2B;
}

input, textarea {
  border: 0;
  font-family: inherit;
  outline: 0;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 2rem 0;
}

h1 > .shapes-heading {
  position: relative;
}

h1 > .shapes-heading::before, h1 > .shapes-heading::after {
  content: '';
  position: absolute;
  top: 1.5rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.3rem;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 2rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
}

a {
  background-color: transparent;
  color: #4EFF58;
  text-decoration: none;
}

a.link-bold {
  font-weight: bold;
}

p {
  line-height: 1.5;
}

p + p {
  margin-top: 1rem;
}

.main-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% auto 20%;
      grid-template-columns: 20% auto 20%;
}

.content-box {
  padding: 2rem;
  background: white;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 1470px) {
  .main-container {
    -ms-grid-columns: 10% auto 10%;
        grid-template-columns: 10% auto 10%;
  }
}

@media only screen and (max-width: 500px) {
  .main-container {
    -ms-grid-columns: 0 auto 0;
        grid-template-columns: 0 auto 0;
  }
  .main-container__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  .content-box {
    width: 95%;
  }
}

.btn {
  padding: 0.5rem 1.5rem;
  margin: 0 1rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  text-align: center;
  border: 2px solid transparent;
}

.btn-main {
  background-image: -webkit-gradient(linear, left top, right top, from(#29D4FB), color-stop(51%, #4EFF58), to(#29D4FB));
  background-image: linear-gradient(to right, #29D4FB 0%, #4EFF58 51%, #29D4FB 100%);
  background-size: 200%;
  color: #F8F8F8;
}

.btn-main:hover, .btn-main:focus {
  -webkit-animation: gradient 1s ease infinite;
          animation: gradient 1s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: left center;
  }
  25% {
    background-position: center;
  }
  50% {
    background-position: right;
  }
  75% {
    background-position: center;
  }
  100% {
    background-position: left center;
  }
}

@keyframes gradient {
  0% {
    background-position: left center;
  }
  25% {
    background-position: center;
  }
  50% {
    background-position: right;
  }
  75% {
    background-position: center;
  }
  100% {
    background-position: left center;
  }
}

.btn-secondary {
  border: 2px solid #4EFF58;
  color: #018007;
}

.btn-secondary:hover, .btn-secondary:focus {
  background: #e7ffe8;
}

.btn-ghost {
  background: transparent;
  border: 3px solid #4EFF58;
  padding: 0.5rem 1.5rem;
}

.btn-ghost:hover, .btn-ghost:focus {
  background: #4EFF58;
  color: #F2FFF3;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-icon {
  padding: 1rem;
  font-size: 2rem;
}

.social-icon i:before {
  background-image: -webkit-gradient(linear, left top, right top, from(#29D4FB), to(#4EFF58));
  background-image: linear-gradient(to right, #29D4FB, #4EFF58);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #4EFF58;
}

.header {
  background: #120C40;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 15% auto 10%;
      grid-template-columns: 10% 15% auto 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0.5rem;
  font-family: "Montserrat", sans-serif;
  position: relative;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
}

.header__logo {
  -ms-grid-column: 2;
  grid-column: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo img {
  width: auto;
  height: 50px;
}

.header__logo span {
  display: block;
  text-transform: uppercase;
  color: #F8F8F8;
  margin-left: 1rem;
}

.header__logo span:first-of-type {
  font-weight: 700;
  letter-spacing: 3px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-grid-column: 3;
  grid-column: 3;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__nav li {
  position: relative;
}

.header__nav li a {
  text-transform: uppercase;
  font-weight: 700;
  color: #F8F8F8;
  margin: 0 2rem;
}

.header__nav li::before {
  content: '';
  position: absolute;
  left: 0.2rem;
}

.header__nav li:hover::before {
  -webkit-animation: bounce 0.8s ease-out infinite;
          animation: bounce 0.8s ease-out infinite;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.header__nav li:nth-child(1)::before {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 15px solid #42fc6e;
}

.header__nav li:nth-child(2)::before {
  width: 15px;
  height: 15px;
  background: #15DEE8;
}

.header__nav li:nth-child(3)::before {
  width: 17px;
  height: 17px;
  background: #9E43FF;
  border-radius: 50%;
}

.header__nav li:nth-child(4) > a {
  margin-right: 1rem;
}

.header__nav li:nth-child(4)::before {
  width: 15px;
  height: 15px;
  background: #FFA033;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__nav li:nth-child(4):hover::before {
  -webkit-animation: specialBounce 0.8s ease-out infinite;
          animation: specialBounce 0.8s ease-out infinite;
}

@-webkit-keyframes specialBounce {
  0% {
    -webkit-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(-5px) rotate(45deg);
            transform: translateY(-5px) rotate(45deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotate(45deg);
  }
}

@keyframes specialBounce {
  0% {
    -webkit-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(-5px) rotate(45deg);
            transform: translateY(-5px) rotate(45deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotate(45deg);
  }
}

.header__nav li:nth-child(5)::before {
  width: 17px;
  height: 17px;
  background-image: url("/assets/star.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1150px) {
  .header__logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    margin-left: 1rem;
  }
  .header__nav {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / 5;
  }
}

#nav-toggle {
  display: none;
}

@media only screen and (max-width: 855px) {
  .header {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .header #nav-toggle {
    color: #F8F8F8;
    -ms-grid-column: 4;
    grid-column: 4;
    cursor: pointer;
    display: block;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    overflow-y: hidden;
    max-height: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.28, 0.47, 0.67, 1);
    transition: all 0.3s cubic-bezier(0.28, 0.47, 0.67, 1);
  }
  .header__nav.active {
    max-height: 60vh;
    padding: 1rem 0;
  }
  .header__nav li {
    margin: 1rem 0 1rem 1rem;
  }
}

.games-card {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.games-card__image {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding: 1rem;
}

.games-card__image img {
  width: 100%;
}

.games-card__content {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  padding: 1rem;
}

.games-card__content h3 {
  margin-bottom: 1rem;
}

.games-card__content .btn-group {
  margin-top: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.games-card__content .btn-group .btn {
  margin-left: 0;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  padding: 2rem;
  width: 32%;
  min-width: 330px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.card-container .card:not(:last-of-type) {
  margin-right: 0.5rem;
}

.card-container .card__header {
  background: url(../../assets/shape-header.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.card-container .card__header-inner {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(1%, white), to(rgba(255, 255, 255, 0.1)));
  background: linear-gradient(0deg, white 1%, rgba(255, 255, 255, 0.1) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-container .card__header-image {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.card-container .card__header-image img {
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
}

.card-container .card__header-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 1rem;
}

.card-container .card__header-title h3 {
  margin-bottom: 1rem;
}

.card-container .card__header-title span {
  color: grey;
}

.card-container .card__body {
  padding: 1rem 0;
}

.card-container .card__body > p {
  min-height: 120px;
}

.card-container .card__facts {
  padding-top: 1rem;
}

.card-container .card__facts h4 {
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
  background: #9E43FF;
  color: white;
  text-transform: uppercase;
}

.card-container .card__facts ol {
  margin-left: 1rem;
  min-height: 180px;
}

.card-container .card__facts ol li {
  line-height: 1.5;
  margin-bottom: 1rem;
}

.card-container .card__footer .btn-group {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-container .card__footer .btn-group .social-icon {
  color: #9E43FF;
  padding: 0 1rem;
}

@media only screen and (max-width: 1150px) {
  .card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-container .card {
    width: 70%;
    margin-bottom: 1rem;
  }
  .card-container .card:not(:last-of-type) {
    margin-right: 0;
  }
  .card-container .card__body > p {
    min-height: 0;
  }
  .card-container .card__facts ol {
    min-height: 0;
  }
}

@media only screen and (max-width: 855px) {
  .games-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  .games-card {
    width: 95%;
  }
  .games-card h3 {
    text-align: center;
  }
  .games-card .btn-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .games-card .btn-group > * {
    width: 100%;
    margin-right: 0;
  }
  .games-card .btn-group span {
    text-align: center;
    margin-top: 1rem;
  }
  .card-container .card {
    width: 95%;
    min-width: auto;
  }
}

.footer {
  background: #120C40;
  color: #F8F8F8;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% auto 10%;
      grid-template-columns: 10% auto 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 0;
}

.footer__content {
  -ms-grid-column: 2;
  grid-column: 2;
  text-align: center;
}

.footer__content .btn-group {
  margin-bottom: 3rem;
}

.footer__content .social-icon {
  margin-right: 0.5rem;
}

.footer__content .copyright {
  font-size: 0.9rem;
}

.footer__content .copyright a:last-child {
  color: #F8F8F8;
}

.footer__content .copyright i {
  margin: 0 0.3rem;
}

.main-container {
  background: #E9E9E9;
  min-height: 80vh;
  padding-bottom: 3rem;
}

.main-container.transhaping-promo {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#201573), color-stop(#1c1366), color-stop(#181159), color-stop(#150f4c), to(#120c40));
  background-image: linear-gradient(to bottom, #201573, #1c1366, #181159, #150f4c, #120c40);
  color: #F8F8F8;
  text-align: center;
  -ms-grid-columns: 10% auto 10%;
      grid-template-columns: 10% auto 10%;
  padding-bottom: 1rem;
}

.main-container.transhaping-promo h1 {
  margin: 3rem 0 0 0;
  font-family: "A-DAY-WITHOUT-SUN", "Montserrat", serif;
  font-weight: normal;
  font-size: 20vh;
  text-transform: uppercase;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}

.main-container.transhaping-promo .hero img {
  width: 60%;
}

.main-container.transhaping-promo p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  font-family: 'Nanum Gothic Coding', monospace;
}

.main-container.transhaping-promo .btn-group {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container.transhaping-promo .btn-group .btn {
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
}

.main-container.transhaping-promo .btn-group .btn-main {
  color: #120C40;
}

@media only screen and (max-width: 855px) {
  .main-container.transhaping-promo .btn-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-container.transhaping-promo .btn-group .btn {
    margin-bottom: 1rem;
  }
}

.main-container__content {
  -ms-grid-column: 2;
  grid-column: 2;
}

@media only screen and (max-width: 855px) {
  .main-container.transhaping-promo {
    min-height: 70vh;
  }
  .main-container.transhaping-promo h1 {
    font-size: 6rem;
  }
}

.games h1 > .shapes-heading::before, .games h1 > .shapes-heading::after {
  width: 2rem;
  height: 2rem;
  background: #15DEE8;
  top: 1.5rem;
}

.games h1 > .shapes-heading::before {
  left: -3.5rem;
}

.games h1 > .shapes-heading::after {
  right: -3.5rem;
}

.games__soon {
  text-align: center;
  margin: 2rem 0;
  color: grey;
}

@media only screen and (max-width: 500px) {
  .games h1 > .shapes-heading::before, .games h1 > .shapes-heading::after, .team h1 > .shapes-heading::before, .team h1 > .shapes-heading::after, .contact h1 > .shapes-heading::before, .contact h1 > .shapes-heading::after {
    background: transparent;
    display: none;
  }
  .games h1 > .shapes-heading::before, .team h1 > .shapes-heading::before, .contact h1 > .shapes-heading::before {
    left: -3.5rem;
  }
  .games h1 > .shapes-heading::after, .team h1 > .shapes-heading::after, .contact h1 > .shapes-heading::after {
    right: -3.5rem;
  }
}

.games-transhaping {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#201573), color-stop(#1c1366), color-stop(#181159), color-stop(#150f4c), to(#120c40));
  background-image: linear-gradient(to bottom, #201573, #1c1366, #181159, #150f4c, #120c40);
  color: #F8F8F8;
}

.games-transhaping .main-container__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.games-transhaping .main-container__content > .btn {
  margin-bottom: 20vh;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #120C40;
  padding: 1rem 2rem;
}

.games-transhaping h1 {
  margin: 3rem 0 0 0;
  font-family: "A-DAY-WITHOUT-SUN", "Montserrat", serif;
  font-weight: normal;
  font-size: 20vh;
  text-transform: uppercase;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}

.games-transhaping h1 + p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  padding: 0 1rem;
  font-family: 'Nanum Gothic Coding', monospace;
}

.games-transhaping .trailer {
  max-width: 560px;
  width: 100%;
  height: 315px;
  margin-bottom: 15vh;
}

.games-transhaping .section {
  width: 100%;
  padding: 3rem 0;
  font-size: 1.1rem;
}

.games-transhaping .section--small {
  width: 100%;
  padding: 3rem 0 6rem 0;
  font-size: 1.1rem;
  height: auto;
}

.games-transhaping .section--small a {
  font-weight: bold;
}

.games-transhaping .section__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% auto;
      grid-template-columns: 45% auto;
  grid-gap: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.games-transhaping .section__content h2 {
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

.games-transhaping .section__content img {
  width: 100%;
  -webkit-box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.25);
}

.games-transhaping .section:nth-of-type(even) .section__content {
  -ms-grid-columns: auto 45%;
      grid-template-columns: auto 45%;
}

.games-transhaping .section:nth-of-type(even) .section__content img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media only screen and (max-width: 855px) {
  .games-transhaping {
    -ms-grid-columns: 0 auto 0;
        grid-template-columns: 0 auto 0;
  }
  .games-transhaping h1 {
    font-size: 6rem;
  }
  .games-transhaping .trailer {
    width: 100%;
  }
  .games-transhaping .main-container__content > .btn {
    margin-bottom: 3rem;
  }
  .games-transhaping .section, .games-transhaping .section--small {
    padding: 1rem;
  }
  .games-transhaping .section h2, .games-transhaping .section--small h2 {
    text-align: center;
  }
  .games-transhaping .section__content, .games-transhaping .section:nth-of-type(even) .section__content {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
  .games-transhaping .section__content img, .games-transhaping .section:nth-of-type(even) .section__content img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 3rem;
  }
}

.team h1 > .shapes-heading::before, .team h1 > .shapes-heading::after {
  width: 2rem;
  height: 2rem;
  background: #9E43FF;
  border-radius: 50%;
}

.team h1 > .shapes-heading::before {
  left: -3.5rem;
}

.team h1 > .shapes-heading::after {
  right: -3.5rem;
}

.contact {
  padding-bottom: 4rem;
}

.contact h1 > .shapes-heading::before, .contact h1 > .shapes-heading::after {
  background: #FFA033;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 2rem;
  height: 2rem;
}

.contact h1 > .shapes-heading::before {
  left: -3.5rem;
}

.contact h1 > .shapes-heading::after {
  right: -3.5rem;
}

.contact h1 {
  margin-bottom: 4rem;
}

.contact__info {
  background: #23B42B;
  width: 60%;
  position: absolute;
  top: 2.5rem;
  left: -7rem;
  padding: 2rem;
  color: #F2FFF3;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat", sans-serif;
}

.contact__info > p {
  margin-bottom: 1rem;
}

.contact__info-links {
  padding-top: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% auto;
      grid-template-columns: 5% auto;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  grid-gap: 2rem 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  word-break: break-all;
}

.contact__info-links-icon {
  -ms-grid-column: 1;
  grid-column: 1;
}

.contact__info-links-link {
  -ms-grid-column: 2;
  grid-column: 2;
  color: #F2FFF3;
  font-weight: bold;
}

.contact__form {
  background: white;
  min-width: 500px;
  width: 70%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 35%;
  padding-top: 3rem;
  position: relative;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.contact__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1rem;
  padding: 0 1rem 3rem 0;
}

.contact__form form label input, .contact__form form label textarea {
  background: #F3F3F3;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
}

.contact__form form label textarea {
  resize: none;
  padding: 0.5rem 1rem 4rem 1rem;
}

.contact__form form button {
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  padding: 1rem;
  width: 40%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contact .main-container__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.success .content-box {
  text-align: center;
}

.success .content-box p {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 855px) {
  .contact__form {
    padding: 1rem;
    min-width: 0;
    width: 95%;
  }
  .contact__form h2 {
    margin-top: 1rem;
    text-align: center;
  }
  .contact__form form {
    margin-right: 0;
    padding: 0;
  }
  .contact__info {
    position: initial;
    width: 100%;
    background: white;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 2rem 0;
    color: #2B2B2B;
  }
  .contact__info-links-link {
    color: #4EFF58;
  }
}

.charity h1 > .shapes-heading::before, .charity h1 > .shapes-heading::after {
  width: 2rem;
  height: 2rem;
  background-image: url("/assets/star.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.charity h1 > .shapes-heading::before {
  left: -3.5rem;
}

.charity h1 > .shapes-heading::after {
  right: -3.5rem;
}

.charity h2 {
  word-break: break-word;
}

.charity .subtitle {
  font-size: 1rem;
  color: grey;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.charity .subtitle--floating {
  position: absolute;
  right: 2rem;
  top: 2rem;
  color: #FF549E;
  font-weight: bold;
}

.charity .content-box--timeline {
  position: relative;
}

@media only screen and (max-width: 500px) {
  .charity h2 {
    font-size: 1.2rem;
  }
  .charity .subtitle--floating {
    position: static;
    margin-bottom: 1rem;
    display: block;
  }
  .charity h1 > .shapes-heading::before, .charity h1 > .shapes-heading::after {
    background: none;
  }
  .charity h1 > .shapes-heading::before {
    left: -3.5rem;
  }
  .charity h1 > .shapes-heading::after {
    right: -3.5rem;
  }
}
