@mixin tiny-screens {
    @media only screen and (max-width: 500px) {
        @content;
    }
}

@mixin mobile-content {
    @media only screen and (max-width: 855px){
        @content;
    }
}

@mixin tablet-content {
    @media only screen and (max-width: 1150px){
        @content;
    }
}

@mixin gradient-clip {
    background-image: linear-gradient(to right, $secondary, $primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $primary;
}