*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-size: 1rem;
    font-family: $body-font;
    color: $body-color;
}

input, textarea {
    border: 0;
    font-family: inherit;
    outline: 0;
}

h1 {
    @include heading-1;
    text-transform: uppercase;
    text-align: center;
    margin: 2rem 0;

    > .shapes-heading {
        position: relative;
    
        &::before, &::after {
            content: '';
            position: absolute;
            top: 1.5rem;
        }
    }
}

h2 {
    @include heading-2;
    margin-bottom: 2rem;
}

h3 {
    @include heading-3;
}

a {
    background-color: transparent;
    color: $primary;
    text-decoration: none;

    &.link-bold {
        font-weight: bold;
    }
}

p {
    line-height: 1.5;

    + p {
        margin-top: 1rem;
    }
}

.main-container {
    display: grid;
    grid-template-columns: 20% auto 20%;
}

.content-box {
    padding: 2rem;
    background: white;
    margin-bottom: 2rem;
    @include box-shadow;
}

@include laptop-content {
    .main-container {
        grid-template-columns: 10% auto 10%;
    }
}

@include tiny-screens {
    .main-container {
        grid-template-columns: 0 auto 0;

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    .content-box {
        width: 95%;
    }
}