*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-size: 1rem;
    font-family: $body-font;
    color: $body-color;
}

input {
    border: 0;
    font-family: inherit;
}

h1 {
    @include heading-1;
    text-transform: uppercase;
    text-align: center;
    margin: 2rem 0;
}

h2 {
    @include heading-2;
    margin-bottom: 2rem;
}

h3 {
    @include heading-3;
}

a {
    background-color: transparent;
    color: $primary;
    text-decoration: none;

    &.link-bold {
        font-weight: bold;
    }
}

p {
    line-height: 1.5;
}

.main-container {
    display: grid;
    grid-template-columns: 20% auto 20%;
}

@include tablet-content {
    .main-container {
        grid-template-columns: 10% auto 10%;
    }
}

@include tiny-screens {
    .main-container {
        grid-template-columns: 0 auto 0;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }
}