.games {
    @include shapes-heading {
        &::before, &::after {
            width: 2rem;
            height: 2rem;
            background: #15DEE8;
            top: 1.5rem;
        }
    }

    &__soon {
        text-align: center;
        margin: 2rem 0;
        color: grey;
    }
}


@include tiny-screens {
    .games, .team, .contact {
        @include shapes-heading {
            &::before, &::after {
                background: transparent;
                display: none;
            }
        }
    }
}