.games {
    @include shapes-heading {
        &::before, &::after {
            width: 2rem;
            height: 2rem;
            background: #15DEE8;
            top: 1.5rem;
        }
    }

    &__soon {
        text-align: center;
        margin: 2rem 0;
        color: grey;
    }
}

@include tiny-screens {
    .games {
        h1 > .shapes-heading {
            &::before, &::after {
                top: 1rem;
                width: 1.5rem;
                height: 1.5rem;
            }
            &::before {
                left: -2.5rem;
            }
            &::after {
                right: -2.5rem;
            }
        }
    }
}