.header {
    background: $header-background;
    display: grid;
    grid-template-columns: 10% 10% auto 10%;
    align-items: center;
    width: 100%;
    height: 60px;
    font-family: $heading-font;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);

    &__logo {
        grid-column: 2;
        display: flex;
        align-items: center;

        img {
            width: auto;
            height: 50px;
        }

        span {
            display: block;
            text-transform: uppercase;
            color: $white;
            margin-left: 1rem;

            &:first-of-type {
                font-weight: 700;
                letter-spacing: 3px;
            }
        }
    }

    &__nav {
        display: flex;
        list-style: none;
        grid-column: 3;
        justify-content: flex-end;

        li {
            a {
                text-transform: uppercase;
                font-weight: 700;
                color: $white;
                position: relative;
                margin: 0 2rem;

                &::before {
                    content: '';
                    position: absolute;
                    left: -1.7rem;
                }

                &:hover {
                    &::before {
                        animation: bounce 0.8s ease-out infinite;

                        @keyframes bounce {
                            0% { transform: translateY(0); }
                            50% { transform: translateY(-5px); }
                            100% { transform: translateY(0); }
                        }
                    }
                }
            }
            &:nth-child(1) a::before {
                border-left: 9px solid transparent;
                border-right: 9px solid transparent;
                border-bottom: 15px solid #42fc6e;
            }
            &:nth-child(2) a::before {
                width: 15px;
                height: 15px;
                background: #15DEE8;
                left: -1.5rem;
            }
            &:nth-child(3) a::before {
                width: 17px;
                height: 17px;
                background: #9E43FF;
                border-radius: 50%;
            }
            &:nth-child(4) a::before {
                width: 15px;
                height: 15px;
                background: #FFA033;
                transform: rotate(45deg);
            }
            &:nth-child(4) a:hover::before {
                animation: specialBounce 0.8s ease-out infinite;
                @keyframes specialBounce {
                    0% { transform: translateY(0) rotate(45deg); }
                    50% { transform: translateY(-5px) rotate(45deg); }
                    100% { transform: translateY(0) rotate(45deg); }
                }
            }
        }
    }
}