#nav-toggle {
    display: none;
}


@include mobile-content {    
    .header {
        user-select: none;

        #nav-toggle {
            color: $white;
            grid-column: 4;
            cursor: pointer;
            display: block;
            justify-self: center;
        }

        &__nav {
            flex-direction: column;
            grid-column: 1 / 4;
            overflow-y: hidden;
            max-height: 0;
            transition: all 0.3s cubic-bezier(.28,.47,.67,1);

            &.active {
                max-height: 60vh;  
                padding: 1rem 0;              
            }

            li {
                margin: 1rem 0 1rem 1rem;
            }
        }
    }
}